#para1{
    background-color: yellow;
}
.ColorPara{
    background-color: green;
    box-shadow: 5px 5px 5px 5px  red;
}
p{
    color: blue;
    /* background-color: black; */
    font-size: 30px;
}

.sarawakil{
    border: 5px solid red;
}

.faiza{
    background-color: pink;
}
i{
    font-size: 100px;
}